.header{
    width: 100%;
    position: fixed;
    top: 0;
    background-color: rgb(192, 192, 239);
    margin: 0;
}

form {
    display: flex;
   
    align-items: center;
    justify-content: center;
    margin: auto;
}

::placeholder{
    font-size: 10px;
    line-height: 1;
    letter-spacing: 0.02em;
    color: rgb(192, 192, 239);
}

input{
    width: 280px;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 0.02em;
    color: rgb(17, 11, 62);
    padding: 10px;
    margin: 5px;
    border: 1px solid rgb(35, 13, 50);
    border-radius: 5px;
     outline: none;
     transition: border .3s, transform .2s
}

.input:hover,
.input:focus{
    border: rgb(72, 37, 96);
}

button{
    display:flex;
    justify-content: center;
    align-items: center;
    max-width: 280px;
    max-height: 33px;
    border: 1px solid  rgb(72, 37, 96);
background-color: rgb(192, 192, 239);
color:rgb(17, 11, 62);
    padding: 12px ;
    
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color color border .3s, transform .2s;
}

.button:hover,
.button:focus,
.button:active{
    background-color: rgb(72, 37, 96);
    color:rgb(224, 222, 235);
    border: 1px solid rgb(192, 192, 239);
}